<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @hospital do |f| %>
        <%= f.label :number, "Номер лікарні"  %>
        <%= f.text_field :number %>

        <%= f.submit(class: "btn btn-success") %>
    <% end %>
  </div>
</div>
